
/* Faz o body ocupar toda a altura da página */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* Conteúdo principal cresce para preencher o espaço */
.container {
    flex: 1;
}

/* Footer fixo no rodapé */
.footer {
    background-color: #343a40; /* mesma cor da navbar */
    padding: 10px 0;
    text-align: center;
    margin-top: 50px;
}

.paginacao{
    margin-top: 20px;
}

.alert {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    opacity: 1;
    animation: drop-alerta 0.5s ease-out forwards;
}

@keyframes drop-alerta {
    0% {
        top: -50px;
        opacity: 0;
    }
    100% {
        top: 20px;
        opacity: 1;
    }
}